# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.



POSTGRES_USER=postgres
POSTGRES_PASSWORD=generate_a_strong_password_here
POSTGRES_DB=railway
DB_PORT=5433

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${DB_PORT}/${POSTGRES_DB}"


# Secretos para JSON Web Token
JWT_SECRET="ESTO_ES_UN_SECRETO_MUY_SEGURO_Y_LARGO_CAMBIAME"
JWT_EXPIRES_IN="7d" # El token expirará en 1 día (puedes usar '1h', '30m', '7d')


# Configuración de MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ENDPOINT=http://localhost:9000
MINIO_BUCKET_NAME=nest-images